.tallyList{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tallyList row{
    display: flex;
    flex-direction: row;
    margin: 2px 0 2px 0;
}

.tallyList row h1{
    line-height: 30px;
    height: 30px;
    margin: 0;
}

.tallyList img{
    height: 100%;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 10px;
}